.mat-button-base {
    font-size: 16px;
    line-height: 20px;
    background-color: $Clinic-light-blue !important;
    color: $text-color !important;
    border-radius: 25px !important;
    height: 45px;

    // accent button
    &.accent {
        border: 3px solid $accent-color;
    }

    // accent button
    &.primary {
        border: 3px solid $primary-color;
        background-color: $Clinic-light-blue !important;
    }
}

.mat-raised-button:not([class*=mat-elevation-z]){
    box-shadow: none;
}

// button spinner
.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: rgba(#f4f4f4, 0.7);
  }