<div class="banner">
  <img src="assets/images/banner.png" alt="Banner Image" class="banner-img">

  <!-- Title div -->
  <div class="title-container d-flex align-items-center">
    <div class="title ml-5">
      <div class="mb-4">აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</div>
      <div class="d-flex justify-content-start align-items-center">
        <button mat-raised-button class="banner-btn mr-2">
          <img src="assets/images/location.png" alt="address" class="loc-img">
          იაკობ ნიკოლაძე №10
        </button>
      </div>
    </div>
  </div>

</div>