<div class="d-flex align-items-center">
  <span class="pl-4 text-color ft-size-18"> {{currentYear}}</span>
  <button mat-button class="button month-btn d-flex flex-perfect-center ml-5"
    (click)="prevMonth(months.indexOf(currentMonth))">
    <img src="assets/images/prev.png">
  </button>
  <div class="month">{{currentMonth}}</div>
  <button mat-button class="button month-btn d-flex flex-perfect-center"
    (click)="nextMonth(months.indexOf(currentMonth))">
    <img src="assets/images/next.png">

  </button>
</div>
<div class="calendar-container" #calendarLayer>
  <div class="time-display-wrapper">
    <div class="toolbar-slice">
      <mat-toolbar class="toolbar d-flex p-2" [matMenuTriggerFor]="toolbarMenu">
        <button mat-button class="button week d-flex flex-perfect-center" (click)="prevWeek()">
          <img src="assets/images/prev.png">
        </button>
        <button mat-button class="button week d-flex flex-perfect-center" (click)="nextWeek()">
          <img src="assets/images/next.png">

        </button>

      </mat-toolbar>


    </div>
    <div class="time-display p-1" #timeDisplay *ngFor="let time of timeLists">
      <span class="accent"> {{ time.date }}</span>( {{ time.day}} )
    </div>
  </div>

  <div class="bottom-pannel d-flex pb-5 align-items-center" [class.no-appointment]=" appointmentTimes.length <=0">
    <div class="appointments d-flex flex-column align-items-center">
      <ng-container *ngIf="appointmentTimes.length >= 1">

        <div class="toolbar-slice" *ngFor="let item of appointmentTimes; let i = index; trackBy:trackByTimeId">

          <mat-toolbar class="toolbar p-2" [matMenuTriggerFor]="toolbarMenu">
            <div class="w-100 d-flex align-items-center flex-column">
              <span class="d-block mt-1 w-100 specialist-name-lable">{{item.time}}</span>

            </div>

          </mat-toolbar>


        </div>

      </ng-container>
    </div>

    <div class="bottom-pannel-layer d-flex" #BottomPannelLayer *ngIf="appointments && appointments.length >= 1">

      <div class="bottom-pannel-rside light-scroll" #calendarWrapper
        (scroll)="calendarScrollX($event, calendarWrapper)">


        <div class="rside-slice" #scheduleColumnWrapper>

          <div class="appointment-height d-flex" *ngFor="let item of appointmentTimes; trackBy:trackByTimeId;">
            <div *ngFor="let time of timeLists; trackBy:trackByTimeId;">
              <div class="d-flex h-100 w-100">

                <div class="time-item">
                  <div class="time-viewer d-flex align-items-center justify-content-center h-100 p-1">

                    <ng-container *ngIf="enableMakeAppointment">
                      <div (click)="makeAppoitment(item,time)">
                        <span class="light-green ft-size-14">+</span><span class="ft-size-14 grey">დაჯავშნა</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="appointments.length!==0">
              <ng-container *ngFor="let appointmentItem of appointments; trackBy:trackByAppointmentId;">

                <div class="d-flex flex-perfect-center booked" [ngClass]="enableMakeAppointment ?'red' :'green'"
                  [appAppointmentPosition]="[appointmentItem.timeId,appointmentItem.date,timeLists[0].fullDate]">
                  <ng-container class="delete w-100 h-100" *ngIf="enableDelete"
                    (click)="deleteAppointment(appointmentItem.id)">
                    <span class="mt-1 mr-1">
                      x
                    </span>
                  </ng-container>
                  <span *ngIf="!enableMakeAppointment">დაჯავშნილია</span>
                </div>

              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 h-100 d-flex justify-content-center align-items-center h-100" *ngIf="appointments.length <= 0">

      <div class="rside-slice">

        <div class="appointment-height d-flex" *ngFor="let item of appointmentTimes; trackBy:trackByTimeId;">
          <div *ngFor="let time of timeLists; trackBy:trackByTimeId;">
            <div class="d-flex h-100 w-100">

              <div class="time-item" (click)="makeAppoitment(item,time)">
                <div class="time-viewer h-100 p-1">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
<div class="d-flex justify-content-end" *ngIf="!enableMakeAppointment">
  <div class="mx-2">
    <button mat-raised-button class="edit-btn d-flex align-items-center pt-1" [disabled]="true">
      <span>
        <img src="assets/images/edit.png" alt="edit">
      </span>
      რედაქტირება
    </button>
  </div>
  <div class="mx-2">
    <button mat-raised-button class=" delete-btn d-flex align-items-center pt-1" [disabled]="true">
      <span>
        <img src="assets/images/delete.png" class="pt-1" alt="delete">
      </span>
      წაშლა
    </button>
  </div>
</div>

<!-- <app-page-loader class="fixed-loader" *ngIf="loadingFlag"></app-page-loader> -->