// Colors
$text-color: #053354;
$primary-color: #053354;
$accent-color:#18A4E1; 
$warn-color: #e85548;

$success-color: #5DB85B;

$Clinic-white: #FFFFFF;
$Clinic-red: #FF2C52;
$Clinic-light-red: #FF93A6;

$Clinic-gray: #ECF2F8;
$Clinic-light-blue: #F0FAFF;
$Clinic-green: #3ACF99;
$Clinic-light-green:#DAFAEE;
$Clinic-yellow: #FFD233;
$Clinic-light-yellow: #FFFFF5;
