<footer>
  <div class="footer">
    <div class="d-lg-flex justify-content-start align-items-start py-5">
      <div class="col-12 col-sm-6 col-lg-4 footer-clinic-logo mb-5 mb-lg-0">
        <img src="assets/images/clinicLogo.png" alt="clinic logo" class="mr-1">
        კლინიკა
      </div>
      <div class="col-12 col-md-6 col-lg-2 footer-clinic-section mb-5 mb-lg-0 pl-4 p-lg-0">
        <h4>ინფორმაცია</h4>
        <ul>
          <li>ჩვენ შესახებ</li>
          <li>პარტნიორები</li>
          <li>ექიმებისთვის</li>
          <li>კლინიკებისთვის</li>
          <li>აფთიაქებისთვის</li>

        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-2 footer-clinic-section mb-5 mb-lg-0 pl-4 p-lg-0">
        <h4>პაციენტებისთვის</h4>
        <ul>
          <li>ექიმები</li>
          <li>კლინიკები</li>
          <li>ანოტაციები</li>
          <li>ბლოგი</li>
          <li>მედია</li>

        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-2 footer-clinic-section mb-5 mb-lg-0 pl-4 p-lg-0">
        <h4>კონტაქტი</h4>
        <ul>
          <li>სამუშაო დღეები: ორშ-პარ</li>
          <li>სამუშაო დრო: 9:00 - 17:00</li>
          <li>იაკობ ნიკოლაძე N10</li>
          <li>032 2 100 100</li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-2 footer-clinic-section mb-5 mb-lg-0 pl-4 p-lg-0">
        <h4>გამოგვყევით</h4>
        <ul>
          <li><a>Facebook</a></li>
          <li><a>Instagram</a></li>
          <li><a>Youtube</a></li>
        </ul>
      </div>

    </div>

  </div>
  <div class="copyright-section w-100">
    copyright
  </div>
</footer>