@import "/src/styles/utilities/variables";

.title {
    font-size: 16px;
    text-align: start;
}
.green {
    color: $Clinic-green;
}

.text-color {
    color: $text-color;
}

.submit-btn {
    background-color: $Clinic-green !important;
    color: $Clinic-white !important;
}

:host ::ng-deep {
    .comment {
        .mat-form-field-outline-start {
            border-radius: 10px 0 0 10px !important;
            min-width: 10px !important;
        }

        .mat-form-field-outline-end {
            border-radius: 0 10px 10px 0 !important;
            min-width: 10px !important;
        }
    }
}
