<mat-card class="doctor-card" *ngIf="doctor">
  <div class="top-content d-flex justify-content-between align-items-start">
    <div class="viewer d-flex flex-perfect-center">
      <img src="assets/images/eye.png" alt="eye-image" />
      <!--  viewer count  ბექიდან არ მომდის -->
      <span class="number">1123</span>
    </div>

    <div class="pin mr-1">
      <img src="assets/images/pin.png" alt="pin-img" />
    </div>
  </div>
  <div class="doctor-image mb-1">
    <img [src]="doctor.imageUrl" alt="doctor-img" />
  </div>

  <div class="doctor-name my-1">
    {{ doctor.firstname }} {{ doctor.lastname }}
  </div>
  <div class="category mt-1 ">
    {{ doctor.category }}
  </div>

  <div class="review-stars d-flex justify-content-center" *ngIf="doctor.review > 0">
    <img *ngFor="let item of [].constructor(doctor.review); let i = index" src="assets/images/star.png" alt="star-img"
      class="my-2">
  </div>

  <button mat-raised-button (click)="navigateToDetail(doctor.id)"
    class="make-appointment-button d-flex flex-perfect-center my-3 ">
    მიღებაზე ჩაწერა
    <span>
      <img src="assets/images/arrow-right.png" alt="arrow-right" />
    </span>
  </button>
</mat-card>