@import "/src/styles/utilities/_variables";

.header {
    .header-clinic-logo {
        color: $Clinic-red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
    }
    .auth-btn {
        color: $accent-color;
    }
    .register {
        text-decoration: none;
        color: $text-color;
    }
  
}

::ng-deep {
    nav {
        .mat-ripple {
            display: none !important;
        }
        .mat-tab-link {
            padding: 12px 24px;
            font-size: 16px;
            text-transform: uppercase;
            color: #333;
            border-bottom: 2px solid transparent;
        }

        .mat-tab-link-active {
            color: $text-color;
            // border-bottom-color: #007bff;
        }
    }
}
