<header>
  <div class="header d-flex py-4">
    <div class="col-12 col-sm-6 col-lg-3 header-clinic-logo mb-5 mb-lg-0">
      <img src="assets/images/redLogo.png" alt="clinic logo" class="mr-1">
      კლინიკა
    </div>
    <div class="navigation col-12 col-sm-6">
      <!-- <nav class="nav d-none d-lg-block" mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navigation" [routerLink]="link.url ? link.url : ['./']"
         (click)="activeLink = link" [active]="activeLink == link">
          <span class="nav-item-text">{{ link.text }}</span> </a>
      </nav> -->

      <nav mat-tab-nav-bar>
        <!-- <a mat-tab-link *ngFor="let link of navigation" [routerLink]="link.url" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive"> -->

        <a mat-tab-link *ngFor="let link of navigation" [routerLink]="link.url" routerLinkActive
          #rla1="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [active]="rla1.isActive">
          {{link.text}}
        </a>
      </nav>

    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="d-flex">
        <button mat-raised-button class="mr-2" *ngIf="!user else avatar">
          <span class="auth-btn" (click)="openLoginModal()">ავტორიზაცია</span> / <a class="register"
            routerLink="register/client">რეგისტრაცია</a>
        </button>
        <ng-template #avatar>
          <button mat-raised-button class="mr-2" [matMenuTriggerFor]="userMenu">
            {{user.firstname}} {{user.lastname}}
          </button>
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="myAppointments()">
              <i class="far fa-sign-out mr-1"></i> <span> ჩემი ჯავშნები</span>
            </button>
            <button mat-menu-item (click)="logoutUser()">
              <i class="far fa-sign-out mr-1"></i> <span> გასვლა</span>
            </button>

          </mat-menu>
        </ng-template>
        <button mat-raised-button>
          ENG
        </button>
      </div>

    </div>

  </div>

</header>